/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */
.background {
    position: absolute;
    height: 130px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    overflow: hidden;
    background-image: linear-gradient(125deg, #0e752e -10%, rgb(51, 24, 201) 100%);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.background::before {
    content: "";
    background-image: linear-gradient(-180deg,
            rgba(0, 0, 0, 0.025) 0,
            rgba(0, 0, 0, 0.075) 99%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.background__pattern {
    position: absolute;
    top: -25px;
    left: 0;
    z-index: -1;
    user-select: none;

    transform: scale(1.1);
}

/* LOGO */
.logo {
    margin-left: -8px;
    user-select: none;
}

.logo__img {
    margin-bottom: -5px;
}

.titr {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: rgb(239, 228, 22);
    text-align: center;
    margin-top: 2px;

}

.titr--small {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: rgb(239, 228, 22);
    text-align: center;
    margin-top: 1px;
}

.header__contents {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.contact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(240, 218, 218);
    text-align: left;
    margin-top: 2px;
    padding-left: 10px;
}

.header__search {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.header__search--label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 2px;
    padding-left: 10px;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 2px;
    padding-left: 10px;
}

.basemap {
    position: relative;
    bottom: 0%;
    top: 3%;
    height: 83%;
    border: 5px;
    border-width: 5px;
}

/* Image with motion */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 15px;
}

.gallery-item {
    position: relative;
    width: calc(20% - 20px);
    height: 45px;
    margin: 10px;
    cursor: pointer;
    top: 20px;
    transition: transform 0.9s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(239, 228, 22);
    text-align: center;
}

.gallery-item:hover {
    transform: scale(1.12);
    color: white;
    text-decoration: underline;
}

.gallery-item-logo {
    position: absolute;
    height: 70px;
    top: 10px;
    margin: 5px;
    border-radius: 5px;
}

.search__input {
    position: relative;
    width: 310px;
    height: 30px;
    margin: 10px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 8px;
}

.search__input:hover {
    background-color: rgb(245, 245, 235);

}